body{
    background-color:rgb(30,30,30);
}
div.center{
    position:absolute;
    top: 50vh;
    left: 50vw; 
    transform: translate(-50%, -50%);
}
#fivebyfive{
    height:80vh;
    width:80vh;
    position:absolute;
    display:grid;
    grid-template-areas:    'r1c1 r1c2 r1c3 r1c4 r1c5'
                            'r2c1 r2c2 r2c3 r2c4 r2c5'
                            'r3c1 r3c2 r3c3 r3c4 r3c5'
                            'r4c1 r4c2 r4c3 r4c4 r4c5'
                            'r5c1 r5c2 r5c3 r5c4 r5c5';
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
}
#threebythree{
    height:80vh;
    width:80vh;
    position:absolute;
    display:none;
    grid-template-areas:    'r1k1 r1k2 r1k3'
                            'r2k1 r2k2 r2k3'
                            'r3k1 r3k2 r3k3';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
}
@media (max-aspect-ratio: 1/1){
    #fivebyfive{
        height:80vw;
        width:80vw;
    }
    #threebythree{
        height:80vw;
        width:80vw;
    }
}
@media (max-height:600px){
    #fivebyfive{
        height:480px;
        width:480px;
    }
    #threebythree{
        height:480px;
        width:480px;
    }
}
@media (max-width:600px){
    #fivebyfive{
        height:480px;
        width:480px;
    }
    #threebythree{
        height:480px;
        width:480px;
    }
}
.box{
    background-color:rgb(255, 5, 5);
    border: transparent;

}
.box:hover {
    opacity: 0.9;
}
#r1c1{
    grid-area:r1c1;
}
#r1c2{
    grid-area:r1c2;
}
#r1c3{
    grid-area:r1c3;
}
#r1c4{
    grid-area:r1c4;
}
#r1c5{
    grid-area:r1c5;
}
#r2c1{
    grid-area:r2c1;
}
#r2c2{
    grid-area:r2c2;
}
#r2c3{
    grid-area:r2c3;
}
#r2c4{
    grid-area:r2c4;
}
#r2c5{
    grid-area:r2c5;
}
#r3c1{
    grid-area:r3c1;
}
#r3c2{
    grid-area:r3c2;
}
#r3c3{
    grid-area:r3c3;
}
#r3c4{
    grid-area:r3c4;
}
#r3c5{
    grid-area:r3c5;
}
#victory{
    position:absolute;
    display:none;
    font-size:8em;
    padding: 40vh 10vw;
}
/* alle knapper, men egentlig bare reset */
button{
    position:absolute;
    top: 95vh;
    left: 45vw; 
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: rgb(50,50,50);
    color: white;
    width: 7.5em;
    height: 3em;
    font-family:sans-serif;
    border: none;
}
/* 3x3/5x5 knapp */
.switchBoard{
    position:absolute;
    top: 95vh;
    left: 55vw; 
    transform: translate(-50%, -50%);
    cursor: pointer;
    background-color: rgb(50,50,50);
    color: white;
    width: 7.5em;
    height: 3em;
    font-family:sans-serif;
    border: none;
}
#btn1 {
    display: block;
}
#btn2 {
    display: none;
}
h3 {
    position:absolute;
    top: 0vh;
    left: 50vw; 
    transform: translate(-50%, -50%);
    color: white;
    font-family:sans-serif;
}
h4 {
    position:absolute;
    top: 3vh;
    left: 50vw; 
    transform: translate(-50%, -50%);
    color: white;
    font-family:sans-serif;
}
#r1k1{
    grid-area: r1k1;
}
#r1k2{
    grid-area: r1k2;
}
#r1k3{
    grid-area: r1k3;
}
#r2k1{
    grid-area: r2k1;
}
#r2k2{
    grid-area: r2k2;
}
#r2k3 {
    grid-area: r2k3;
}
#r3k1 {
    grid-area: r3k1;
}
#r3k2 {
    grid-area: r3k2;
}
#r3k3 {
    grid-area: r3k3;
}