.rutenett {
    display: grid;
    grid-template-areas:    'x x x x '
                            'x x x x '
                            'x x x x '
                            'x x x x ';
    width:200px;
    height:200px;
    border: 1px black solid;
    gap: 1px;
    float:left;
    margin-right:50px;
}
.item {
    border: 1px solid gray;
} 