body {
    background: radial-gradient(circle, rgba(211,211,211,1) 36%, rgba(169,169,169,1) 84%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#btn {
    position:absolute;
    left:50%;
    transform:translate(-50%);
    top:840px;
    color: blue;
}
.rutenett {
    display: grid;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    border: 1px solid white;
    background-color: dimgray;
}
.brett{
    top:10px;
    width:508px;
    height:508px;
    grid-template-areas:    'x x x x'
                            'x x x x'
                            'x x x x'
                            'x x x x';
}
.brikker{
    top:560px;
    width:1016px;
    height:254px;
    grid-template-areas:    'x x x x x x x x'
                            'x x x x x x x x';
}
.item {
    border: 1px solid white;
    width: 125px;
    height: 125px;
    text-align:center;
    font-size:60px;
    line-height:125px;
} 
.item:hover{
    border: 1px ridge white;
}
.valgtBrikke{
    border-color:red;
    animation: zoomin;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes zoomin {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
@keyframes zoomout {
    0%{
        transform: (1.2);
    }
    100%{
        transform: scale(1);
    }
}
#victory{
    
    visibility: hidden;
    display: block;
    position: absolute;
    left: 705px;
    top: 10px;
}
#victory h1{
    border: 4px;
    font-size: 120px;
    -webkit-text-stroke: 1px rgb(119, 119, 119);
    font-family: sans; color: rgb(35, 54, 226);
    position: absolute;
    left: -670px;
    top: 50px;
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

@-webkit-keyframes bounceInDown {
from,
60%,
75%,
90%,
to {
-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

0% {
opacity: 0;
-webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
transform: translate3d(0, -3000px, 0) scaleY(3);
}

60% {
opacity: 1;
-webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
transform: translate3d(0, 25px, 0) scaleY(0.9);
}

75% {
-webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
transform: translate3d(0, -10px, 0) scaleY(0.95);
}

90% {
-webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
transform: translate3d(0, 5px, 0) scaleY(0.985);
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
@keyframes bounceInDown {
from,
60%,
75%,
90%,
to {
-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

0% {
opacity: 0;
-webkit-transform: translate3d(0, -3000px, 0) scaleY(3);
transform: translate3d(0, -3000px, 0) scaleY(3);
}

60% {
opacity: 1;
-webkit-transform: translate3d(0, 25px, 0) scaleY(0.9);
transform: translate3d(0, 25px, 0) scaleY(0.9);
}

75% {
-webkit-transform: translate3d(0, -10px, 0) scaleY(0.95);
transform: translate3d(0, -10px, 0) scaleY(0.95);
}

90% {
-webkit-transform: translate3d(0, 5px, 0) scaleY(0.985);
transform: translate3d(0, 5px, 0) scaleY(0.985);
}

to {
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
}
.animate__bounceInDown {
-webkit-animation-name: bounceInDown;
animation-name: bounceInDown;
animation-duration: timeInSecs;
-webkit-animation-duration: timeInSecs;
animation-iteration-count: infinite;
-webkit-animation-iteration-count: infinite;
}
