body {
    background: radial-gradient(gray 20%, rgb(59, 59, 59) 80%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
header {
    height: 8vh;
    width: 90vw;
    min-height: 1.3em;
    background-color: rgba(0, 0, 0, 0.185);
    padding-top:1vh;
    border: 0.01em solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    cursor: pointer;
    margin-left: 5vw;
    font-size: 3em;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

.row{
    width: 50vw;
    height: 75px;
    display: grid;
    grid-template-areas: 'x x x';
    grid-template-rows: '1fr 1fr 1fr';
    align-content: center;
}
.row *{
    display: flex;
    justify-content: center;
    
}
.pickBtn{
    cursor: pointer;
}
#infoRow{
    font-size:2em;
    align-content: center;
}